// Nollställer styling i webbläsaren
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

// Typsnitt Roboto & Unica One
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Unica+One&display=swap');

// Variabler
$gradient-dark: linear-gradient(-70deg, #e25b01, #e44d8e, #8f2fc7, #02495f);
$gradient: linear-gradient(-70deg, #fca062, #cf6593, #a96bce, #23abd5);
$link-color: lighten(#fca062, 80);
$mobile-nav-color: #1f072c;
$mobile-nav-background: #461163;
$footer-margin: 2rem 2rem 6rem 2rem;
$img-right-margin: 5rem 0 0 2rem;
$img-left-margin: 5rem 2rem 0 0;

// Mixins
// Media. Desktop
@mixin desktop {
    @media screen and (min-width: 900px){
        @content;
    }
}

// Media. Mobiler
@mixin mobile {
    @media screen and (max-width: 550px){
        @content;
    }
}

// Media. Kollar om användaren använder dark mode på datorn
@mixin darkMode {
    @media screen and (prefers-color-scheme: dark){
        @content;
    }
}

// kollar vilken form elementet ska ha
@mixin imgShape($circle: false) {
    @if $circle {
        border-radius: 50%;
    } @else {
        border-radius: 20px;
    }
}
