body {
    background: $gradient;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    height: 100vh;

    @include darkMode {
        background: $gradient-dark;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

#container {
    max-width: 2000px;
    margin: auto;
}

main {
    padding: 0 1rem;
}

header {
    min-height: 350px;
    display: block;
    position: relative;
    padding-top: 4rem;

    @include mobile {
        padding-top: 2rem;
        min-height: unset;
        height: auto;
    }
}

.flex-container {
    display: flex;

    @include mobile {
        flex-direction: column;
    }
}

#article2-flex {
    @include mobile {
        flex-direction: column-reverse;
    }
}

// Bilder
.images-right, .images-left {
    display: flex;
    justify-content: center;
    margin: $img-right-margin;

    img {
        width: 200px;
        height: 200px;
        object-fit: cover;

        // circle: true ger en rund bild
        // circle: false ger fyrkan med avrundade hörn
        @include imgShape($circle: true);
    }
}

.images-left {
    margin: $img-left-margin;
}

.images-right, .images-left {
    @include mobile {
        margin: 4rem auto 0 auto;
    }
}

// Articles
article {
    max-width: 700px;
    margin: 0 auto 5rem auto;
    padding-top: 4rem;

    @include mobile {
        margin: 0 auto 4rem auto;
    }

    p {
        margin-top: 1rem;
        text-align: justify;
    }
}

// Navigation
#nav-icon {
    display: none;

    @include mobile {
        display: initial;
        font-size: 2.5rem;
        padding: 0 1rem;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        background: $mobile-nav-color;
    }
}

nav {
    width: 100%;
    background: $gradient;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    @include darkMode {
        background: $gradient-dark;
    }

    @include mobile {
        top: 3.7rem;
        background: $mobile-nav-background;
    }

    ul {
        @extend .flex-container; // Ärver display: flex.
        list-style-type: none;
        max-width: 2000px;
        margin: auto;

        @include mobile {
            flex-direction: column;
        }
    }

    li {
        text-align: right;
    }

    a {
        text-decoration: none;
        display: flex;
        padding: 1rem;
        font-size: 1.2rem;
        color: $link-color;
        transition: ease 0.3s;
    }

    a:hover {
        @include desktop {
            color: darken($link-color, 20);
            letter-spacing: 1px;
        }
    }
}

#navbar-desktop {
    @include mobile {
        display: none;
    }
}

// Footer
footer {
    text-align: center;
    padding: $footer-margin
}
