body {
    // background: linear-gradient(-70deg, #fca062, #cf6593, #9258b4, #23abd5);
    background: $gradient;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    height: 100vh;

    @include darkMode {
        background: $gradient-dark;
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: white;
        height: 100vh;
    }
}

#container {
    max-width: 2000px;
    margin: auto;
}

main {
    padding: 0 1rem;
}

header {
    height: 350px;
    display: block;
}

.flex-container {
    display: flex;

    @include mobile {
        flex-direction: column;
    }
}

#article2 {
    @include mobile {
        flex-direction: column-reverse;
    }
}

// Bilder
.images-right, .images-left {
    display: flex;
    justify-content: center;
    margin: $img-right-margin;

    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.images-left {
    margin: $img-left-margin;
}

.images-right, .images-left {
    @include mobile {
        margin: 4rem auto 0 auto;
    }
}

// Articles
article {
    max-width: 700px;
    margin: 0 auto 7rem auto;

    @include mobile {
        margin: 0 auto 4rem auto;
    }

    p {
        margin-top: 1rem;
        text-align: justify;
    }
}

// Navigation
nav {
    width: 100%;
    ul {
        display: flex;
        list-style-type: none;
    }

    li {
        text-align: right;
    }

    a {
        text-decoration: none;
        display: flex;
        padding: 1rem;
        font-size: 1.5rem;
        color: $link-color;
        transition: ease 0.3s;
    }

    a:hover {
        @include desktop {
            color: darken($link-color, 20);
            letter-spacing: 1px;
        }
    }
}

// Footer
footer {
    text-align: center;
    padding: $footer-margin
}
